
/*------------------------------------------------------------------*/
/*-------------------->>> 1. CSS General <<<------------------------*/
/*------------------------------------------------------------------*/
.pps-clearfix:before,
.pps-clearfix:after { content: " "; display: block; overflow: hidden; visibility: hidden; font-size: 0; line-height: 0;height: 0;}
.pps-clearfix:after { clear: both;}
* html .pps-clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .pps-clearfix { zoom: 1; } /* IE7 */

/*------------------------------------------------------------------*/
/*-------------------->>> 2. PopupPress <<<-------------------------*/
/*------------------------------------------------------------------*/

.pps-overlay, .b-modal {
	position: fixed; top: 0; left: 0;
	width: 100%; height: 100%;
	background:#000000;
	opacity: 0.3;
	cursor:pointer;
	/*transition: none 0s ease 0s  !important;*/
}
.pps-popup {
	display:none;
	position: absolute; top: 60px; z-index:9999;
	width: 600px; height:auto; max-height: 550px;
	opacity: 1;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);

}
.pps-wrap {
	position: relative;
	height:90%; max-height: inherit;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #FFFFFF;
}
.pps-close {
	position: absolute; top:-21px; right:-21px; z-index:3;
	width:41px; height:41px;
}
.pps-close a.pps-close-link {
	display:block;
	width:26px; height:26px;
	margin: 8px 0 0 7px;
	background: url(images/icon_close.png) no-repeat 0 0;
	text-indent: -9999px;
	outline: none;
	border: 0;
	cursor:pointer;
}
.pps-close a.pps-close-link:hover {
	background-position: -26px 0;
}
.pps-header {
	position: relative;
	padding: 13px 15px;
	border-bottom: 1px solid #EEEEEE;
}
.pps-title {
	padding:0; margin:0;
	color: #000;
	line-height:20px;
	text-align:left;
	font-size:20px;
	font-family: inherit;
	line-height:21px;
}
.pps-content {
	/*position:relative;*/
	padding: 15px;
	min-height:120px; max-height:inherit;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height:100%;
	overflow:auto;
}
.pps-single-popup {
	position:relative;
}
.pps-content p {
	margin: 0px;
	margin-bottom:15px;
	font-family: inherit;
	line-height:21px;
	text-align: left;
}
a.pps-btn.pps-button-popup {
	display:inline-block;
	padding:4px 12px 4px; margin: 0px;
	color:#FFF;
	text-shadow:0 -1px 0px rgba(0, 0, 0, 0.25);
	line-height:16px;
	font-weight:bold;
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
	text-align:center;
	text-decoration:none;
	cursor:pointer;
	border-radius: 3px;	-moz-border-radius: 3px; -webkit-border-radius: 3px; -khtml-border-radius: 3px;
	border-width:1px;
	border-style:solid;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 1px 0 rgba(255, 255, 255, 0.15) inset;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	border-color:#0179C0 #0179C0 #0160A5;
	background: #268BC9; /* Old browsers */
	background: -moz-linear-gradient(top,  #62A8DB 0%, #0D7EC2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#62A8DB), color-stop(100%,#0D7EC2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #62A8DB 0%,#0D7EC2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #62A8DB 0%,#0D7EC2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #62A8DB 0%,#0D7EC2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #62A8DB 0%,#0D7EC2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62A8DB', endColorstr='#0D7EC2',GradientType=0 ); /* IE6-9 */
}
a.pps-btn.pps-button-popup:hover {
	color:#FFF;
	background: #177FBF; /* Old browsers */
	background: -moz-linear-gradient(top,  #4D9ED5 0%, #0172B6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4D9ED5), color-stop(100%,#0172B6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4D9ED5 0%,#0172B6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4D9ED5 0%,#0172B6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4D9ED5 0%,#0172B6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4D9ED5 0%,#0172B6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4D9ED5', endColorstr='#0172B6',GradientType=0 ); /* IE6-9 */
}
.pps-loading {
	position: absolute; left: 46%; top: 46%; z-index: 10002;
	width:24px; height:24px;
	display: block;
	background-image: url(images/loading.gif);
}

/*------------------------------------------------------------------*/
/*---------------->>> 4. Themes PopupPress <<<----------------------*/
/*------------------------------------------------------------------*/

/* Border Popup */
.pps-popup.pps-border-true {
	padding:8px;
	background-color: rgba(0, 0, 0, 0.40);
	-webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px;
}
.pps-popup.pps-border-true .pps-close {
	background: url(images/icon_close.png) no-repeat 0 -52px;
}


/*  Dark CSS */
.pps-popup.pps-dark .pps-wrap {
	background: #000;
}
.pps-popup.pps-dark .pps-close {
	background-position: 0 -93px;
}
.pps-popup.pps-dark a.pps-close-link {
	background-position: 0 -26px;
}
.pps-popup.pps-dark a.pps-close-link:hover {
	background-position: -26px -26px;
}
.pps-popup.pps-dark .pps-header {
	border-bottom: 1px solid #151515;
}
.pps-popup.pps-dark .pps-title {
	color: #BBB;
}
.pps-popup.pps-dark.pps-border-popup {
	background-color: rgba(255, 255, 255, 0.15);
	-webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px;
}
.pps-popup.pps-dark .pps-control-nav li a {
	background: rgba(255, 255, 255, 0.4);
	box-shadow: 0 0 3px rgba(255, 255, 255, 0.2) inset;
}
.pps-popup.pps-dark .pps-control-nav li a:hover {
	background: rgba(255, 255, 255, 0.6);
}
.pps-popup.pps-dark .pps-control-nav li a.pps-active {
	background: rgba(255, 255, 255, 0.8);
}
.pps-popup.pps-dark.pps-border-true {
	background-color: rgba(255, 255, 255, 0.15);
}

/*------------------------------------------------*/
/*------------[CAPTIONS AND ALIGNMENTS]-----------*/
/*------------------------------------------------*/

/*------------------------------------------------------------------*/
/*------------>>> 3. Captions and AlignMents <<<--------------------*/
/*------------------------------------------------------------------*/
/*.pps-content-wp-editor img { width:auto;}*/
.pps-content-wp-editor .aligncenter{ display: block; margin-left: auto; margin-right: auto; }
.pps-content-wp-editor .wp-caption { border: 1px solid #ddd; text-align: center; background-color: #f3f3f3; padding-top: 4px; margin-bottom: 10px; }
.pps-content-wp-editor .wp-caption.alignleft { margin: 0px 10px 10px 0px; }
.pps-content-wp-editor .wp-caption.alignright { margin: 0px 0px 10px 10px; }
.pps-content-wp-editor .wp-caption img { margin: 0; padding: 0; border: 0 none; }
.pps-content-wp-editor .wp-caption p.wp-caption-text { font-size: 11px; line-height: 17px; padding: 0 4px 5px; margin: 0; }
.pps-content-wp-editor .alignright { float: right; }
.pps-content-wp-editor .alignleft { float: left }
.pps-content-wp-editor img.alignleft { display:inline; float:left; margin-right:15px; }
.pps-content-wp-editor img.alignright { display:inline; float:right; margin-left:15px; }

/*Fix*/
.pps-popup .border-round { display:none !important}

.pps-popup .pps-content-wp-editor { height: 100%; width: 100%; }


.pps-popup .pps-content-wp-editor img {
	width: auto;
	height: auto;
	max-width: 100%;
}

.pps-popup .pps-content-wp-editor iframe {
	display:block; border: 0;
	/*height: auto;*/
	width: 100%; /* Tomar en cuenta (No estaba en las versiones anteriores)*/
	max-width: 100%;
}

/*  Support for mobile devices */

@media screen and (max-width: 768px){
    .pps-popup {
		height: auto !important;
		width:80% !important;
		left:8% !important;
    }
	.pps-popup .pps-content-wp-editor iframe {
		width: 100%;
		height: 280px;
	}
}

@media screen and (max-width: 480px){
    .pps-popup {
		height: auto !important;
		width:86% !important;
		left:3.5% !important;
		/*margin-left: -15%;*/
    }
	.pps-popup .pps-content-wp-editor iframe {
		width: 100%;
		height: 200px;
	}
}