/*------------------------------------------------------------------*/
/*-------------------->>> 1. CSS General <<<------------------------*/
/*------------------------------------------------------------------*/
.pps-clearfix:before, .pps-clearfix:after { content: " "; display: block; overflow: hidden; visibility: hidden; font-size: 0; line-height: 0;height: 0;}
.pps-clearfix:after { clear: both;}
* html .pps-clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .pps-clearfix { zoom: 1; } /* IE7 */

a:focus {
	box-shadow: none;
}

#pps-form {width:100%;}
#pps-form input[type="checkbox"],
#pps-form input[type="radio"] {
	margin-right:4px;
}
#pps-form select {
	padding:2px 2px 2px 10px;
}
#pps-form select option {
	padding:3px 10px;
}


.pps-fl { float: left;}
.pps-fr { float:right;}
.pps-last { margin-right:0 !important;}
.pps-first { margin-left:0 !important;}
.pps-clb { clear:both;}
.pps-option-group [class*="pps-boxs"] { float:left;}
.pps-boxs-1 {	width:100%; margin-right:0px;}
.pps-boxs-2 {	width:48%; margin-right:4%;}
.pps-boxs-3 {	width:30.666%; margin-right:4%;}
.pps-boxs-4 {	width:22%; margin-right:4%;}
.pps-boxs-5 {	width:16.8%; margin-right:4%;}
.pps-boxs-6 {	width:13.333%; margin-right:4%;}

/*------------------------------------------------------------------*/
/*--------------->>> 2. PopupPress - Admin <<<----------------------*/
/*------------------------------------------------------------------*/
#icon-settings {
	background: url(images/icon_settings.png) no-repeat;
}
h2.title-settings {
	font-size: 28px;
	padding: 5px 10px 10px;
}

h2.title-settings:before {
	content: "\f111";
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 26px/1 'dashicons';
	vertical-align: top;
}

h2#pps-tabs {
	max-width: 60%;
}
#pps-tabs a {
	padding: 4px 10px 6px;
	outline:0 none;
	font-size:14px;
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-khtml-border-top-left-radius: 3px;
	-khtml-border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
#pps-tabs a:hover {
	
}
#pps-tabs a:focus {
	box-shadow: none;
}
#pps-tabs a.nav-tab-active,
#pps-tabs a.nav-tab-active:hover  {
	border-left-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom: none;
}
.pps-tab-container {
	/*clear: both;*/
	float:left;
	width: 60%;
	max-width: 60%;
	padding-top:8px;
}
.pps-tab_content {
	padding: 20px;
}
.pps-line-sep { 
	border-bottom: 1px solid #EEE;
}
.pps-option-group {
	clear:both;
	padding:10px 0 5px;
}
.pps-option-group:first-child { }
.pps-option-group.last {		 border-bottom: 0}

.pps-option-group .pps-option-name {
	float: left;
	width: 160px;
	text-align: right;
}
.pps-option-group.pps-option-text .pps-option-name {
	padding-top:2px;
}
.pps-option-group .pps-option-name > label {
	display:block;
	font-size:12px;
	font-weight:bold;
	color:#515151;
}
.pps-option-group .pps-option-content {
	margin-left: 180px;
}
.pps-option-content label {
	vertical-align:top !important;
}
.pps-option-info {
	color: #AAA;
	font-size:12px;
	font-style:italic;
}
.pps-option-group p.pps-option-info {
	clear:both;
	margin:5px 0;
}
.pps-option-group span.pps-option-info {
	margin-left:6px;
}
.pps-option-content input[type=text] {
	width: 99.9%;
	padding:4px 10px;
}
.pps-option-item {
	padding-bottom:5px;
}
#pps-form .pps-input-s input { width:80px;}
#pps-form .pps-input-m input { width:180px;}
.pps-help {
	padding-left:15px;
}
.pps-help h3 {
	font-size:15px; color:#515151;
}

.pps-help p.pps-easy {
	color:#3D9A62; font-size:20px;
}

#pps-item-submit {
	clear:both;
}

/*Tip Text*/

.cpmb_metabox_description sub {
	position:absolute; top:2px; left:0px;
	display:block;
	width: 12px; height:12px;
	background: url(images/icon_desc.png) no-repeat 0 0;
	-webkit-opacity: 0.5;
	-moz-opacity: 0.5;
	filter:alpha(opacity=50);
	opacity: 0.5;
}
.cpmb_metabox_description sub:hover {
	-webkit-opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
	opacity: 1;
}
.cpmb-tip-wrap {
	display: none;
	position: absolute; z-index: 99999;
}
.cpmb-tip-text {
	max-width: 200px;
	padding: 2px 12px 3px;
	border: 1px solid #777;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #fff;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	line-height: 18px;
	background-color: #666;
}
.cpmb-tip-wrap .cpmb-tip-arrow {
	position: absolute; top:0; right:-5px; z-index: 99999;
	width: 7px; height: 6px;
	margin-top:0; margin-left:-4px;
	background: url(images/icon_arrow_tip.png) no-repeat 0 0;
}



/* WP list table */
.wp-list-table td.preview-popup a img { width:80px;}

a.restore-views {display: none;}
tr.type-popuppress:hover a.restore-views { display: inline-block;}



.adds-pro {
	float:left;
	margin-left:10%;
	width:30%;
}
.pps-tab-content.adds p {
	font-size:16px;
	font-style: italic;
}
.pps-tab-content.adds img {
	opacity: 0.6;
}


@media screen and (max-width: 768px) {
	.pps-tab-container {
		clear: both;
		float: none;
		width: 100%;
		max-width: 100%;
		padding-top:8px;
	}
	.adds-pro {
		float: none;
		margin-left:0%;
		width:100%;
	}
	
}

